<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a37dbf">  <td>22/04/20 16:02:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Registration.DSRegister()[pri:0, instance:DsAlgotest.Registration@52e6fdee]">DSRegister</td> 
  <td>main@711327356</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>22/04/20 16:02:29</td>   <td>-3990</td> <td>&nbsp;</td><td title="&gt;&gt;Registration.Setup()[pri:0, instance:DsAlgotest.Registration@52e6fdee]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@711327356</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>22/04/20 16:02:40</td>   <td>6722</td> <td>&nbsp;</td><td title="&lt;&lt;Registration.close()[pri:0, instance:DsAlgotest.Registration@52e6fdee]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@711327356</td>   <td></td> </tr>
</table>
