<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DSALGO Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f2d4aa">  <td>22/05/09 15:39:35</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Dproj.Browserclose()[pri:0, instance:DsAlgotest.Dproj@4e5ed836]">&lt;&lt;Browserclose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2144838275</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>22/05/09 15:39:34</td>   <td>-1193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dproj.DSlogin(java.lang.String,java.lang.String)[pri:0, instance:DsAlgotest.Dproj@4e5ed836]">DSlogin</td> 
  <td>main@2144838275</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>22/05/09 15:39:34</td>   <td>-1193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dproj.DSlogin(java.lang.String,java.lang.String)[pri:0, instance:DsAlgotest.Dproj@4e5ed836]">DSlogin</td> 
  <td>main@2144838275</td>   <td></td> </tr>
<tr bgcolor="f2d4aa">  <td>22/05/09 15:39:34</td>   <td>-1193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dproj.DSlogin(java.lang.String,java.lang.String)[pri:0, instance:DsAlgotest.Dproj@4e5ed836]">DSlogin</td> 
  <td>main@2144838275</td>   <td></td> </tr>
<tr bgcolor="d3eec0">  <td>22/05/09 15:39:03</td>   <td>-31927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DSBrowser.DBrowser_open(java.lang.String)[pri:0, instance:DsAlgotest.DSBrowser@2cb4893b]">DBrowser_open</td> 
  <td>main@2144838275</td>   <td></td> </tr>
</table>
